<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="icon" type="image/x-icon" href="favicon.ico" />
  </head>
  <body>
    <header>
      <nav class="header__nav">
        <div class="header__logo">
          <h4>AngularExercises</h4>
          <div class="header__logo-overlay"></div>
        </div>

        <ul class="header__menu">
          <li>
            <a href="../app/exercise-one/exercise-one.component.html"
              >ExerciseOne</a
            >
          </li>
          <li>
            <a href="../app/exercise-two/exercise-two.component.html"
              >ExerciseTwo</a
            >
          </li>
          <li>
            <a href="../app/exercise-three/exercise-three.component.html"
              >ExerciseThree</a
            >
          </li>
          <li>
            <a href="../app/exercise-four/exercise-four.component.html"
              >ExerciseFour</a
            >
          </li>
        </ul>

        <ul class="header__menu-mobile">
          <li>
            <img src="../assets/menu.svg" alt="menu" />
          </li>
        </ul>
      </nav>
    </header>

    <section class="hero">
      <div class="hero-image">
        <!--<img src="../assets/TunningLogoAngular.png" alt="logoAngular" />-->
        <div class="hero-image__overlay"></div>
      </div>

      <div class="hero-content">
        <div class="hero-content-info">
          <h1>AngularExercises</h1>
          <p>Pablo Hurtado Gonzalo</p>
        </div>
      </div>
    </section>

    <script src="../script.js" type="module"></script>
  </body>
</html>
