<header>
  <nav class="header__nav">
    <div class="header__logo">
      <h4 data-aos="fade-down">ANGULAR EXERCISES</h4>
      <div class="header__logo-overlay"></div>
    </div>

    <ul class="header__menu" data-aos="fade-down">
      <li>
        <a href="#">ExerciseOne</a>
      </li>
      <li>
        <a href="#">ExerciseTwo</a>
      </li>
      <li>
        <a href="#">ExerciseThree</a>
      </li>
      <li>
        <a href="#">ExerciseFour</a>
      </li>
      <li>
        <img src="../assets/search.svg" alt="search" />
      </li>
    </ul>

    <ul class="header__menu-mobile" data-aos="fade-down">
      <li>
        <img src="../assets/menu.svg" alt="menu" />
      </li>
    </ul>
  </nav>
</header>

<section class="hero">
  <div class="hero-image">
    <h2 data-aos="fade-up">Pablo Hurtado Gonzalo Angular Exercises</h2>
    <div class="hero-image__overlay"></div>
  </div>

  <div class="hero-content">
    <div class="hero-content-info" data-aos="fade-left">
      <h1>Pablo Hurtado Gonzalo Exercises</h1>
      <p>
        Project done with Angular FrameWork, click in the menu for see and test
        the Exercises
      </p>
    </div>
  </div>
</section>

<footer class="footer flex-between">
  <h3 class="footer__logo"><span>ANGULAR </span>EXERCISES</h3>

  <ul class="footer__nav">
    <li>
      <a href="#">ExerciseOne</a>
    </li>
    <li>
      <a href="#">ExerciseTwo</a>
    </li>
    <li>
      <a href="#">ExerciseThree</a>
    </li>
    <li>
      <a href="#">ExerciseFour</a>
    </li>
  </ul>
</footer>
