<app-header-component></app-header-component>

<section class="hero">
  <div class="hero-image">
    <h2 data-aos="fade-up">Pablo Hurtado Gonzalo Angular Exercises</h2>
    <div class="hero-image__overlay"></div>
  </div>

  <div class="hero-content">
    <div class="hero-content-info" data-aos="fade-left">
      <h1>Pablo Hurtado Gonzalo Exercises</h1>
      <p>
        Project done with Angular FrameWork, click in the menu for see and test
        the Exercises
      </p>
    </div>
  </div>
</section>

<app-footer-component></app-footer-component>
